body {
  background-color:powderblue;
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: 'Pushster', cursive;

}
h1{
  padding: 20px 20px;
  background-color: salmon;
 color: seashell;
 border-radius: 100px;
 
}
div{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}
